.input {
    width: 250px;
    border: black 2px solid;
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 8px;
    outline: none;
}

.code {
    padding: 11px;
    background-color: #AAAAAA;
    border: #555555 2px solid;
    border-radius: 8px;
    position: relative;
    width: 99%;
}

.copy {
    position: absolute;
    top: 2px;
    right: 8px;
    border: #AAAAAA 2px solid;
    border-radius: 8px;
    transition: 0.3s
}

.copy:hover {
    border: #55FFFF 2px solid;
    border-radius: 8px;
    transition: 0.3s;
}

body {
    padding: 16px;
}

.delete {
    color: red;
    font-size: 20px;
    transition: 0.3s
}

.delete:hover {
    text-decoration: underline;
    transition: 0.3s
}